.message {
   display: grid;
   grid-template-columns: 1.5fr 10.5fr;
   margin: 0 auto;
   max-width: 800px;
   padding: 0 100px;
}

.photo {
   margin-top: 100%;
   width: 60px;
   height: 60px;
   border-radius: 50%;
}

.container {
   border: 2px solid #dedede;
   background-color: #f1f1f1;
   padding: 10px;
   margin: 10px 10px;
   border-radius: 11px;
   box-shadow: 1px 1px 10px #C0C0C0;
   position: relative;
   z-index: 2;
}

.container:before {
   position: absolute;
   content: "";
   left: -14px;
   top: 99px;
   transform: scaleY(0.5) rotate(45deg);
   width: 30px;
   height: 30px;
   background: #f1f1f1;
   box-shadow: -5px 5px 10px #C0C0C0;
   z-index: 3;
}

.darker {
   border-color: #ccc;
   background-color: #ddd;
}

.container::after {
   content: "";
   clear: both;
   display: table;
   z-index: 4;
}

.time {
   float: right;
   color: #aaa;
}