.checkbox {
   margin-top: 20px;
   width: 15px;
   height: 15px;
}

.spanClassName {
   font-family: helvetica, arial, sans-serif;
   font-size: 1.2em;
   padding-left: 5px;
   padding-bottom: 20px;
   /*padding-bottom: 10px;*/
}