.button {
   font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 700;
   border: 0;
   border-radius: 3em;
   cursor: pointer;
   display: inline-block;
   line-height: 1;
   outline-style: none;
}
.button:hover {
   font-size: small;
}

.primary {
   background-color: #008cba;
}
.secondary {
   background-color: #e7e7e7;
}
.success {
   background-color: #4caf50;
}
.warning {
   background-color: goldenrod;
}
.danger {
   background-color: #f44336;
}
.small {
   font-size: 12px;
   padding: 10px 16px;
}
.medium {
   font-size: 14px;
   padding: 11px 20px;
}
.large {
   font-size: 16px;
   padding: 12px 24px;
}
.red {
   background-color: red;
}