.someClass {

}
.greeting {
   line-height: 1.5em;
   margin: 10px;
}
.error {
   background-color: red;
}
.errorMessage {
   color: red;
   display: block;
}
.input {
   margin-right: 10px;
   display: block;
}

.total {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   border: 1px solid deepskyblue;
   font-size: 1.5em;
   background-color: deepskyblue;
   color: white;
   padding: 3px;
   padding-left: 10px;
}
.rows {
   display: grid;
   grid-template-columns: 460px 100px 100px;
}